body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    height: 640px;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-text{ 
    margin: auto;
    max-width: 700px;
    text-align: center;
    color: white;
    /* text-align: center; */
    padding-top: 174px;
    padding-bottom: 174px;
} 
#heading{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;
}
#heading-peragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 30px;
}
.donate-btn{
    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
}

/* Donation amount part */

.donate-today{
    margin: auto;
    max-width: 700px;
    text-align: center;
    margin-top: 206px;
}
.donation-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #707070;
}
.donation-plan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 98px;
}
.donation-amount{
    width: 135px;
    height: 120px;
    background: #FAFAFA;
    border-radius: 5px;
    margin-left: 22px;
   
}
.donation-amount p{
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.other-amount-text{
    margin-top: 25px;
    margin-bottom: 20px;
    color: #B3B3B3;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
hr{
    margin-bottom: 20px;
}
