body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    height: 640px;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-text{ 
    margin: auto;
    max-width: 700px;
    text-align: center;
    color: white;
    padding-top: 174px;
    padding-bottom: 174px;
} 
#header-text{
    color: white;
}
#heading{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;
}
/***************All text ***************/
.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
    color: #B3B3B3;
    align-items: center;
}
.donate-btn{
    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
}

/***************** Donation amount part ******************/

.donate-today{
    margin: auto;
    max-width: 750px;
    text-align: center;
    margin-top: 206px;
    margin-bottom: 206px;
}
.donation-plan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 98px;
}
.donation-amount{
    width: 135px;
    height: 120px;
    background: #FAFAFA;
    border-radius: 5px;
    margin-left: 22px;
   
}
.donation-amount p{
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
/* .other-amount-text{
    margin-top: 25px;
    margin-bottom: 10px;
    color: #B3B3B3;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
} */
hr{
    margin-bottom: 30px;
}
/***************plan card details  ****************/

.donate-plan{
    margin: auto;
    margin-bottom: 130px;
}
.plan-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 30px;
    text-align: center;
    color: #121212;
}
.card-heading{
    margin-left: 375px;
    margin-right: 375px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
    color: #B3B3B3;
    text-align: ;
}
.plan-card{
    display: flex;
    align-items: center;
    justify-content: center
}
.one-third{
    width: 360px;
    height: 352px;
    background: rgba(79, 157, 166, 0.1);
    padding: 50px 20px 0px 50px;
    border-radius: 5px;
    margin-right: 25px;
}

/*************Footer  ***************/
.footer{
    background: #0B0D17;
    text-align: center;
    height: 200px;
}
.footer h3{
    padding-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #FF5959;
   
}
.footer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}