body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    height: 640px;
    width: auto;
    left: 0px;
    top: 0px;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header-text{ 
    color: white;
    text-align: center;
    padding-top: 300px;
} 
#heading{
    font-weight: 700;
    font-size: 45px;
}

